Take a number from user and print sum of all odd numbers till that number.
Ex. Enter a no : 10   
Sum of all odd numbers till 10 : 3+5+7+9  =24

In [50]:
n=int(input("Enter any number"))
sp=n//2
c=(n//2)+1
for i in range(1,n+1,2):
    print(' '*sp,'*'*i,sep="")
    sp=sp-1
for j in range(n-1,-1,-1):
    print(' '*j,'*'*c,sep="")
    c=c-2

Enter any number7
   *
  ***
 *****
*******
      ****
     **

In [43]:
sp=0
n=int(input("Enter any number"))
for i in range(n-1,-1,-1):
    print(' '*sp,'10'*i,'1',sep='')
    sp=sp+1

Enter any number7
1010101010101
 10101010101
  101010101
   1010101
    10101
     101
      1

In [ ]:
import sys

In [56]:
import sys
num=56.6798
sys.getsizeof(num)

24

In [66]:
name="disha"
id(name)

2218815912112

In [65]:
num=456
id(num)

2218814777840

In [68]:
n=10
print(id(n))
m=10
print(id(m))
n=80
print(id(n),id(m))
print(n,m)

140719912686664
140719912686664
140719912688904 140719912686664
80 10

In [72]:
n=int(input("enter number "))
fact=1
for i in range(n):
    fact=fact*n
print("factorial: ",fact)

enter number 50
factorial:  8881784197001252323389053344726562500000000000000000000000000000000000000000000000000

1  
1 2  
1 2 3  
1 2 3 4  
1 2 3 4 5

In [17]:
n=int(input("enter number"))
for i in range(1,n+1,1):
    for j in range (1,i,1):
        print(j)

enter number5
1
1
2
1
2
3
1
2
3
4